{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='css/form.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}"> {% endblock %} {% block content %}
<div class="container">
    <div class="form-group form text-center">
        <h1 class="display-1">מיניבוס</h1>
        <h1>התחברות</h1>
        <form method="POST">
            <input class="form-control" type="text" name="email" placeholder="אימייל">
            <input class="form-control" type="password" name="password" placeholder="סיסמה">
            <input class="btn btn-success" type="submit" name="" value="התחבר">
        </form>
        <span>שכחת את הסיסמה?<a id="forget-password" href="">שחזר סיסמה<a></span>
        <div>
            <a href="/register" class="btn btn-dark">נוסע חדש?</a>
        </div>
        </a>
    </div>
    <script>
        $('form').on('submit', function(){
            Notiflix.Loading.Dots();
        });

        $('#forget-password').on('click', function(e){
            event.preventDefault();
            Notiflix.Notify.Warning("הפונקציה עדיין לא קיימת, נא לפנות לאדמינים לעזרה");
                        });
    </script>
    {% endblock %}