{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='css/form.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}"> {% endblock %} {% block content %}
<div class="container">
    <div class="form-group form text-center">
        <h1 class="display-1">מיניבוס</h1>
        <h1>הרשמה</h1>
        <form method="POST">
            <input class="form-control" type="text" name="email" placeholder="אימייל">
            <input class="form-control" type="password" name="password" placeholder="סיסמה"> {% if error %}
            <div style="margin-bottom: 5%;"><span class="alert alert-danger">{{error}}</span> </div>{% endif %}
            <input class="btn btn-info" type="submit" name="" value="התחבר">
        </form>
        <span>שכחת את הסיסמה?<a href="https://he.wikipedia.org/wiki/%D7%94%D7%95%D7%9E%D7%95%D7%A1%D7%A7%D7%A1%D7%95%D7%90%D7%9C%D7%99%D7%95%D7%AA_%D7%91%D7%91%D7%A2%D7%9C%D7%99_%D7%97%D7%99%D7%99%D7%9D">שחזר סיסמה<a></span>
        <div>
            <a href="/register" class="btn btn-dark">נוסע חדש?</a>
        </div>
        </a>
    </div>
    {% endblock %}