{% extends "base.html" %}
{% block head %}
  <title>{{profile.full_name}}</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/form.css') }}">
{% endblock %}

{% block content %}
<div class="container">
<div class="form text-center">
  <img src="{{ profile.image_location }}" alt="{{profile.full_name}}" style="float:left;max-width:25%;height:auto">
  <h1 class="display-4 text-center">{{profile.full_name}}</h1>
  <div class="tab">
    <h3 class="cool-text">פרטי יצירת קשר</h3>
    <div class="row">
      <div class="col">
        <span class="small">ישוב</span>
        <input id="residence" type="text" placeholder="ישוב" class="form-control" name="residence">
      </div>
        <div class="col">
        <span class="small">תאריך לידה</span>
        <input type="date" placeholder="תאריך לידה:" class="form-control" min="1980" max="2002" step="1" name="date_of_birth">
      </div>
    </div>
    <div class="row">
      <div class="col-6">
          <span class="small">מספר טלפון</span>
          <input type="tel" class="form-control crucial-input" placeholder="052-222-2222" name="phone_number">
      </div>
      <div class="col-6">
          <span class="small">אימייל</span>
          <input type="text" class="form-control crucial-input email" placeholder="" name="email">
      </div>
    </div>
  </div>
  <div class="tab text-right">
    <h3 class="cool-text">מסגרות</h3>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="מכינה, שנת שירות, מדרשה ועוד" name="pre_army">
        </div>
    </div>
    <h3 class="cool-text">שירות צבאי</h3>
    <div id="army">

    </div>
    <div class="row">
        <div class="col">
            <label for="">מסגרות נוספות:</label>
            <input type="text" class="form-control" placeholder="" name="more_frames">
        </div>
    </div>
</div>

<div class="tab">
    <h3 class="cool-text">השכלה ותעסוקה</h3>
    <div id="education">

    </div>
    <div id="positions">

    </div>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="עוד" name="education_work_more">
        </div>
    </div>
</div>
  <div class="tab">
      <h3 class="cool-text">קצת על {{profile.full_name}}</h3>
    <div class="row">
      <div class="col">
        <label for="">:תחביבים ותחומי עניין</label>
        <input type="text" class="form-control" placeholder="כל מה שאתם אוהבים לעשות ויש לכם בו איזשהו ניסיון" name="hobbies">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="">מקורות השראה</label>
        <input type="text" class="form-control" placeholder="עובדות לא חשובות בפייסבוק, הרצאות טד של ג'ון לה קרה" name="interes">
      </div>
    </div>
    </div>

  <div class="tab">
    <div class="row">
      <div class="col">
        <label for="">מוזמנים להתייעץ לגבי...</label>
        <input type="text" class="form-control" placeholder="" name="ready_to_asist">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="">דרכים נוספות להעזר בהן</label>
        <input type="text" class="form-control" placeholder="" name="ways_to_asist">
      </div>
    </div>
  </div>
</div>
</div>
  
<script type="text/javascript">
  var profile = {{profile|tojson()}};
</script>
<script src="{{url_for('static',filename='js/display-rows.js')}}"></script>
<script src="{{url_for('static',filename='js/user-profile.js')}}"></script>
{% endblock %}
